/*reset.css*/body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
/*fonts.css*/body{font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}

/* generic styles */
body {background-color:#fff;font-family:"Helvetica Neue",helvetica,arial,sans-serif;}
p {text-align: justify;}

h1 {font-weight:bold;font-size:2em;color:#DBDBDB; float:left;margin:2px 0px 0px;padding:0px 0px 0;}
h2 {font:normal 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#B1B1B1;margin:0 -8px 10px;padding:0 0 0 5px;}
h3 {letter-spacing:1px;margin-bottom:0;color:#7D775C;}

a, a:link {font-weight:normal;line-height:1.1em;text-decoration:none;color:#939191;}
a:visited {font-weight:bold;text-decoration:none;color:#34dae2;}
a:hover, a:active {text-decoration:underline;color:#DBDBDB;}

ul {margin:0 0 10px;}
ul.accessibility {display:none;visibility:hidden;}

/* layout styles */
#page {text-align:left;width:100%;color:#000;margin:0 auto;padding:0;}
#header {float:relative;width:100%;font-weight:bold;color:#fff;margin:1px 5px 0;}
#main {width:100%;float:right;margin:0px 0px 0px;padding:0px 0px 0px;}

.module {
	width: 100%;
	background-color: #fff;
	text-align:left;
	font:0.9em Arial, sans-serif;
	line-height:1.2em;
	border-bottom:1px solid #C3C3B4;
	color:#706C6C;
	margin:02px 5px 0px;
	padding:05px 5px 0px;
	}
	
#about {}
#blogs {}
#photos {}
#bookmarks {}
#music {}
#profiles {}
#profiles li {display:list;}

#links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.photos {
    margin:05px 7px 05px;
    padding:0px 5px 10px;
    }


	
#profile-photo {
	float:right;
       background: #fff;
	width: 75px;
	margin: 0px -17px 0px;
       padding:0px 0 0px;
	}

#footer {
    float: left;
    font:0.7em Arial, sans-serif;
    color:#000;
    clear:both;
    margin:10px 0 10px;
    padding:5px 0 0px;
    }

blockquote {
    margin : 10px 20px 10px;
    padding : 0 0 10px;
    background-color : transparent;
    line-height : 14px;
    border-bottom: 1px solid #EBEBE4;
    }


/* social networking styles */
div.links ul {margin:10px 0 10px 10px;}
div.links ul li {margin:5px 0 10px 0;}
div.links ul li a {background:transparent url(../../pz-includes/images/favicons.gif) no-repeat;padding:1px 5px 2px 22px;}
._43things {background-position:0 -17px !important;}
.bebo {background-position:0 -36px !important;}
.catster {background-position:0 -55px !important;}
.delicious {background-position:0 -74px !important;}
.digg {background-position:0 -93px !important;}
.dodgeball {background-position:0 -112px !important;}
.dogster {background-position:0 -131px !important;}
.dopplr {background-position:0 -150px !important;}
.facebook {background-position:0 -169px !important;}
.flickr {background-position:0 -207px !important;}
.friendfeed {background-position:0 -188px !important;}
.goodreads {background-position:0 -226px !important;}
.google {background-position:0 -245px !important;}
.hi5 {background-position:0 -264px !important;}
.jaiku {background-position:0 -283px !important;}
.audioscrobbler,
.lastfm {background-position:0 -302px !important;}
.linkedin {background-position:0 -321px !important;}
.lj {background-position:0 -340px !important;}
.mog {background-position:0 -359px !important;}
.multiply {background-position:0 -378px !important;}
.myspace {background-position:0 -397px !important;}
.newsvine {background-position:0 -416px !important;}
.ning {background-position:0 -435px !important;}
.orkut {background-position:0 -454px !important;}
.pandora {background-position:0 -473px !important;}
.pownce {background-position:0 -492px !important;}
.reddit {background-position:0 -511px !important;}
.sonicliving {background-position:0 -530px !important;}
.stumbleupon {background-position:0 -549px !important;}
.tabblo {background-position:0 -568px !important;}
.tagworld {background-position:0 -587px !important;}
.technorati {background-position:0 -606px !important;}
.tribe {background-position:0 -625px !important;}
.twitter {background-position:0 -644px !important;}
.upcoming {background-position:0 -663px !important;}
.vox {background-position:0 -682px !important;}
.wordpress {background-position:0 -701px !important;}
.youtube {background-position:0 -720px !important;}
.zooomr {background-position:0 -739px !important;}