/*reset.css*/body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
/*fonts.css*/body{font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}

/* generic styles */
body {background-color:#e5e5e5;color:#000;}
a {color:#009;text-decoration:none;}
a:hover {color:#909;text-decoration:underline;}

.message-box span {cursor:pointer;display:block;background-color:#e5e5e5;border:dotted 2px #ccc;font-weight:bold;margin:10px 50px;padding:10px;text-align:center;}
.message-box .success {border-color:#0c0;background-color:#e5ffe5;color:#090;}
.message-box .error {border-color:#c00;background-color:#ffe5e5;color:#900;}
.message-box .info {border-color:#cc0;background-color:#ffffe5;color:#990;}

/* layout styles */
#page {}
#header {border-bottom:solid 5px #1a4f85;background-color:#036;color:#e5e5e5;padding:20px;}
#header h1 {font-family:Georgia,"Times New Roman",Times,serif;font-size:277%;}
#header ul#menu {position:absolute;top:25px;right:0;padding:10px 20px;height:25px;text-align:right;}
#header ul#menu li {display:inline;font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;font-size:92%;}
#header ul#menu li a {background-color:#1a4f85;color:#fff;padding:5px 10px;}
#header ul#menu li a:hover {background-color:#1d64ad;color:#fff;text-decoration:none;}
#header ul#menu li.current a {background-color:#e5e5e5;color:#036;}

#main {font-family:Georgia,"Times New Roman",Times,serif;margin:10px 20px;}
#main h2 {font-size:216%;}

fieldset {border:solid 1px #ccc;margin:10px 35px 10px 0;padding:10px 15px;float:left;width:40%;}
fieldset legend {font-family:Georgia,"Times New Roman",Times,serif;font-size:154%;}
fieldset div {float:left;clear:both;margin:5px 0;width:100%;}
fieldset div label {display:block;float:left;width:150px;padding:2px 0;}
fieldset div input,
fieldset div select,
fieldset div textarea {float:left;font-family:Georgia,"Times New Roman",Times,serif;width:250px;padding:2px 3px;}
fieldset div select,
fieldset div input.button,
fieldset div input.checkbox {width:auto;}
fieldset div textarea {height:100px;padding:5px 3px;}
fieldset div p {float:left;clear:both;font-size:85%;margin:5px 0;width:400px;}

/* profile styles */
#gravatar-options, #gravatar_image {display:none;}

/* web-data-source styles */
select#id_network_id option {background:transparent url(../pz-includes/images/favicons.gif) no-repeat;margin:5px 0 0 0;padding:1px 0 2px 22px;}
select#id_network_id option.select {background:none;}

#data-sources {float:left;clear:both;width:100%;}
#data-sources div {float:left;background-color:#e0e0e0;border:solid 1px #ccc;width:15%;margin-right:5px;padding:5px;}

/* modules styles */
#web-data-sources {float:left;}
form#modules ul {list-style:none;margin:0;padding:0;}
form#modules ul li {float:left;clear:both;display:block;cursor:move;border:1px solid #ccc;background-color:#fff;margin:0 0 5px 0;padding:5px;width:200px;z-index:100;}
form#modules ul li a.item {float:left;display:block;background:transparent url(../pz-includes/images/favicons.gif) no-repeat 0 0;height:19px;padding:0 0 0 22px;}

a.remove {float:right;}

.drop {float:right;background-color:#fff;border:solid 1px #ccc;padding:5px;width:450px;}
.droppable-active {background-color:#efefcc;}
.droppable-hover {background-color:#ccefcc;}

/* social networking styles */
/* {background:transparent url(../pz-includes/images/favicons.gif) no-repeat;padding:4px 0 4px 25px; */
._43things {background-position:0 -17px !important;}
.bebo {background-position:0 -36px !important;}
.catster {background-position:0 -55px !important;}
.delicious {background-position:0 -74px !important;}
.digg {background-position:0 -93px !important;}
.dodgeball {background-position:0 -112px !important;}
.dogster {background-position:0 -131px !important;}
.dopplr {background-position:0 -150px !important;}
.facebook {background-position:0 -169px !important;}
.flickr {background-position:0 -207px !important;}
.friendfeed {background-position:0 -188px !important;}
.goodreads {background-position:0 -226px !important;}
.google {background-position:0 -245px !important;}
.hi5 {background-position:0 -264px !important;}
.jaiku {background-position:0 -283px !important;}
.audioscrobbler,
.lastfm {background-position:0 -302px !important;}
.linkedin {background-position:0 -321px !important;}
.lj {background-position:0 -340px !important;}
.mog {background-position:0 -359px !important;}
.multiply {background-position:0 -378px !important;}
.myspace {background-position:0 -397px !important;}
.newsvine {background-position:0 -416px !important;}
.ning {background-position:0 -435px !important;}
.orkut {background-position:0 -454px !important;}
.pandora {background-position:0 -473px !important;}
.pownce {background-position:0 -492px !important;}
.reddit {background-position:0 -511px !important;}
.sonicliving {background-position:0 -530px !important;}
.stumbleupon {background-position:0 -549px !important;}
.tabblo {background-position:0 -568px !important;}
.tagworld {background-position:0 -587px !important;}
.technorati {background-position:0 -606px !important;}
.tribe {background-position:0 -625px !important;}
.twitter {background-position:0 -644px !important;}
.upcoming {background-position:0 -663px !important;}
.vox {background-position:0 -682px !important;}
.wordpress {background-position:0 -701px !important;}
.youtube {background-position:0 -720px !important;}
.zooomr {background-position:0 -739px !important;}