/* social networking styles */
div.links ul {margin:10px 0 10px 10px;}
div.links ul li {margin:5px 0 10px 0;}
div.links ul li a span {background:transparent url(../includes/images/favicons.gif) no-repeat;padding:1px 5px 2px 16px;}
._43things a span {background-position:0 -17px !important;}
.bebo a span {background-position:0 -36px !important;}
.catster a span {background-position:0 -55px !important;}
.claimid a span {background-position:0 -777px !important;}
.delicious a span {background-position:0 -74px !important;}
.digg a span {background-position:0 -93px !important;}
.dodgeball a span {background-position:0 -112px !important;}
.dogster a span {background-position:0 -131px !important;}
.dopplr a span {background-position:0 -150px !important;}
.facebook a span {background-position:0 -169px !important;}
.flickr a span {background-position:0 -207px !important;}
.friendfeed a span {background-position:0 -188px !important;}
.goodreads a span {background-position:0 -226px !important;}
.google a span {background-position:0 -245px !important;}
.hi5 a span {background-position:0 -264px !important;}
.jaiku a span {background-position:0 -283px !important;}
.audioscrobbler a span,
.lastfm a span {background-position:0 -302px !important;}
.libthing a span {background-position:0 -758px !important;}
.linkedin a span {background-position:0 -321px !important;}
.lj a span {background-position:0 -340px !important;}
.mog a span {background-position:0 -359px !important;}
.multiply a span {background-position:0 -378px !important;}
.myspace a span {background-position:0 -397px !important;}
.newsvine a span {background-position:0 -416px !important;}
.ning a span {background-position:0 -435px !important;}
.orkut a span {background-position:0 -454px !important;}
.pandora a span {background-position:0 -473px !important;}
.pownce a span {background-position:0 -492px !important;}
.reddit a span {background-position:0 -511px !important;}
.sonicliving a span {background-position:0 -530px !important;}
.stumbleupon a span {background-position:0 -549px !important;}
.tabblo a span {background-position:0 -568px !important;}
.tagworld a span {background-position:0 -587px !important;}
.technorati a span {background-position:0 -606px !important;}
.tribe a span {background-position:0 -625px !important;}
.twitter a span {background-position:0 -644px !important;}
.upcoming a span {background-position:0 -663px !important;}
.vox a span {background-position:0 -682px !important;}
.wordpress a span {background-position:0 -701px !important;}
.youtube a span {background-position:0 -720px !important;}
.zooomr a span {background-position:0 -739px !important;}